@font-face {
  font-family: work-sans;
  font-display: swap;
  src: url("../font/Work_Sans/Work_Sans_Variable.ttf");
}

:root {
  --background-color-primary: #fff;
  --amber: #ffc042;
  --crimson-red: #e5383b;
}

body {
  font-family: work-sans, Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0;
  background-color: var(--background-color-primary);
}

h1,
h2 {
  margin: 0;
}

/*

Main

*/
#main {
  position: absolute;
  width: 100%;
  min-height: 100%;
}

section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 3em;
  box-sizing: border-box;
}

/*

Landing

*/

#landing {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--amber);
  color: black;
  overflow: hidden;
  box-sizing: border-box;
  padding: 2em;
}

#title {
  position: absolute;
  user-select: none;
  font-size: 15em;
  font-weight: 400;
  bottom: 0;
}

/*

About me

*/

#about-heading {
  font-size: 8em;
  font-weight: 350;
  margin: 0;
}

#about-description {
  position: relative;
  font-size: 1.5em;
  margin: 1em 0;
  width: 50%;
  line-height: 1.75;
}

/*

Projects

*/

#projects-heading {
  font-size: 8em;
  margin: 0;
  position: absolute;
  bottom: 0.5em;
  font-weight: 500;
  user-select: none;
}

#projects-section {
  background-color: var(--crimson-red);
  padding: 2em;
  box-sizing: border-box;
}

#project-count {
  position: absolute;
  bottom: 2em;
  font-size: 2em;
  font-weight: 500;
  right: 2em;
  color: #ddd;
  user-select: none;
}

/* Project list */
#projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.project {
  border: 1px solid black;
  box-sizing: border-box;
}

.project > hgroup {
  background-color: black;
  color: white;
}

.project > hgroup > h2 {
  font-weight: 300;
  font-size: 2em;
  padding: 0.25em 0.5em;
  user-select: none;
}

.tag-list {
  display: flex;
  margin-bottom: 0.5em;
  gap: 1ch;
}

.tag-list > div > img {
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.tag-list > div {
  display: flex;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  gap: 1ch;
  font-size: 0.8em;
  border-radius: 1em;
  user-select: none;
  align-items: center;
  white-space: nowrap;
}

[data-source-code-url],
[data-live-demo-url] {
  cursor: pointer;
}

.try-it {
  color: #ddd;
  background-color: black;
  transition: 500ms;
  cursor: pointer;
}

.try-it:hover {
  background-color: var(--crimson-red);
  border-color: var(--crimson-red);
}

.project-content {
  box-sizing: border-box;
  padding: 1em;
}

.project-content > p {
  margin: 0;
  line-height: 1.5;
}

.small-caps {
  text-transform: lowercase;
  font-variant: small-caps;
}

@media screen and (max-width: 1400px) {
  body {
    font-size: 18px;
  }
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 960px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 12px;
  }

  #about-description {
    width: 75%;
  }

  #about-heading {
    font-size: 6em;
  }

  #projects-heading {
    font-size: 7em;
  }
}

@media screen and (max-width: 640px) {
  body {
    font-size: 12px;
  }
  #title {
    font-size: 10em;
  }

  #about-heading {
    font-size: 6em;
  }

  #projects-heading {
    font-size: 5em;
  }

  #about-description {
    width: 100%;
  }
}
