@font-face {
  font-family: geist;
  font-display: swap;
  src: url(../font/Geist-VariableFont_wght.ttf);
}

@font-face {
  font-family: noto-color-emoji;
  src: url(../font/NotoColorEmoji-Regular.ttf);
}

body {
  margin: 0;
  font-size: 20px;
  font-family: geist, noto-color-emoji;
  overflow-x: hidden;
}

.frame {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

#presentation {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#presentation > h1 {
  font-weight: 400;
  font-size: 3em;
  margin: 0;
}

p {
  font-size: 1.5em;
}

#projects {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  padding-bottom: 50vh;
}

#projects > h1 {
  font-weight: 500;
}

#project-list-wrapper {
  margin-top: 2em;
}

hgroup {
  display: flex;
  justify-content: space-between;
}

#result-count {
  font-weight: 500;
}

#search-bar {
  display: flex;
  align-items: center;
  gap: 1ch;
}

#search-bar > img {
  user-select: none;
  -webkit-user-drag: none;
}

#search-bar > input {
  font-family: geist, noto-color-emoji;
  font-size: 1.5em;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 10ch;
  text-overflow: ellipsis;
}

#search-bar > input::placeholder {
  user-select: none;
}

.project {
  width: 80%;
}

.project > h3 {
  font-weight: 500;
  margin: 0;
}

.project > p {
  font-size: 1em;
}

#project-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.project-tags {
  display: flex;
  gap: 1ch;
}

.project-tags > div {
  font-size: 0.8em;
  border: 1px solid #aaa;
  width: fit-content;
  padding: 0.125em 0.25em;
  display: flex;
  gap: 0.5ch;
  border-radius: 0.25em;
  align-items: center;
  cursor: pointer;
}

.project-tags > div > img {
  width: 1em;
  height: 1em;
  user-select: none;
  -webkit-user-drag: none;
}

footer {
  position: relative;
  width: 100vw;
  height: 100vh;
}

footer > #links {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#links > div > img {
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
}
